footer{
    border-top:1px white solid;
    width:100%;
    height:4vw;

    background:black;

    display:flex;
    justify-content: space-around;

    bottom:0;
    position:fixed;
}

.txt_footer{
    margin:0;

    color:white;
    font-size:1.2vw;
    font-family:font1;

    line-height:4vw;
}

#ML:hover{
    color:#7401DF;
    cursor:pointer;
}

.mention a , .txt_footer i{
    font-size:2vw;
    color:white;
}
footer a:hover{
    color:#7401DF;
}
footer i:hover{
    color:#7401DF;
}

body{
    background:black;
    font:"font";

}

#fond{
    opacity:0.5;
}

#cont{
    color:white;
}

h1{
    color:white;
    margin-top:10vw;
}



.alert-danger{
    position:fixed;
    background:red;
    color:white;
    width:15vw;
    font-size:1.5vw;
    z-index:9999;
    margin-top:6vw;

    top:0;
    left:0;
    
}

.alert-success{
    position:fixed;
    background:green;
    color:white;
    width:25vw;
    font-size:1.5vw;
    z-index:9999;
    margin-top:6vw;

    top:0;
    left:0;
}

#fond{
    display:initial;
}

#mon{
    color:#7401DF;
}